.middle__bottom__inbox {
  background-color: white;
  width: 15vw;
  height: 12vh;
  margin-left: 40px;
  margin-top: 20px;
  border-radius: 13px;
  display: flex;
  color: black;
  box-shadow: 4px 4px 13px 0px rgba(0,0,0,0.75);

}

.middle__bottom__inbox h4{
    font-size: 30px;
    margin-top: 10%;
    margin-left: 10%;
}
.middle__bottom__inbox h2{
    font-size: 35px;
    margin-left: 35%;
    margin-top: 9%;

}