.graph__card{
    background-color: white;
    height: 50vh;
    width: 55vw;
    margin: 30px;
    border-radius: 13px;
    display: flex;
}
.graph__card__left{
    background-color: white;
    height: 50vh;
    width: 80%;
}
.graph__card__right{
    background-color:var(--bgc);
    float: right;
    height: 50vh;
    width: 25%;
    border-radius: var(--border-radius);
    
}
.text__top{
    margin-top: 20px;
    font-size: 25px;
    color: white;
    font-family: var(--font-family);
}
.yellow__box, .green__box{
    background-color: var(--yellow);
    height: 30%;
    width: 70%;
    margin: 15%;
    border-radius:13px;
}

.green__box{
    background-color: var(--green);
}
.text__top h3{
    margin-left: 30%;
}
.yellow__box h4{
    margin-left: 10%;
    font-size: 25px;
    padding-top: 10%;
    font-family: var(--font-family);
}
.yellow__box h5{
    margin-left: 10%;
    font-size: 23px;
    margin-top: 10%;
    font-family: var(--font-family);
}
.green__box h4{
    margin-left: 10%;
    font-size: 25px;
    padding-top: 10%;
    font-family: var(--font-family);
}
.green__box h5{
    margin-left: 10%;
    font-size: 23px;
    margin-top: 10%;
    font-family: var(--font-family);
}
.graph__card__left h3 {
    font-size: 25px;
    font-family: var(--font-family);
    margin: 20px;
}
.graph__card__left h3 span{
    color:#848484;
}
.graph__card__left img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding-bottom: 18%;
}