.post__written {
  background-color: white;
  width: 80vw;
  height: 20vh;
  margin: 2%;
  border-radius: 13px;
}
.post__written__avatar {
  padding: 30px;
  display: flex;
}

.post__written__title {
  display: flex;
  position: relative;
  bottom: 90px;
  left: 100px;
}
.post__written__title p:nth-child(2) {
  margin-left: 80%;
  font-size: 17px;
}
.post__written__title p:nth-child(1) {
  margin-left: 1%;
  font-size: 17px;
}

.post__written__content {
  width: 71vw;
  height: auto;
  margin-left: 8%;
  position: relative;
  bottom: 50%;
}
